<%= form_with(model: questionary_item, local: true) do |form| %>
  <% if questionary_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary_item.errors.count, "error") %> prohibited this questionary_item from being saved:</h2>

      <ul>
      <% questionary_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :questionary_item_content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :複数回答 %>
    <div>
      <%= form.radio_button :multiple, false, checked: "checked" %>
      <%= form.label :複数回答不可, class: "job_type_label" %>
    </div>
    <div>
      <%= form.radio_button :multiple, true %>
      <%= form.label :複数回答可, class: "job_type_label" %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :questionary_id %>
    <%= form.number_field :questionary_id, id: :questionary_item_questionary_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
