<p id="notice"><%= notice %></p>

<h1 class="title"><%= @questionary.title %></h1>
<div class="questionary">
  <p class="description">
    <%= @questionary.description %>
  </p>

  <p class="deadline">
    <strong>締め切り:</strong>
    <%= @questionary.deadline %>
  </p>
</div>

<div class="items">
  <%= form_tag(action:'show', id:@questionary.id) %>
    <% count_items = 0 %>

    <% @questionary.questionary_item.each do |item| %>
      <p class="q"><%= item.content %></p>
      <% count_items += 1 %>
      <% count_choices = 0 %>


      <% item.questionary_choice.each do |choice| %>
        <% count_choices += 1 %>
        <div class="choice">
          <% if choice.input_field %>
            <label for="<%= count_items.to_s + "_" + count_choices.to_s %>">
              <%= choice.content %>
            </label>
            <%= text_field_tag "choice_text[#{item.id}]" %>
          <% else %>
            <% if item.multiple %>
              <%= check_box_tag "choice[#{item.id}][]", choice.id, false, { multiple: true } %>
            <% else %>
              <%= radio_button 'choice', item.id, choice.id %>
            <% end %>
            <label for="<%= count_items.to_s + "_" + count_choices.to_s %>">
              <%= choice.content %>
            </label>
          <% end %>
        </div>
      <% end %>
    <hr>
  <% end %>
  <%=submit_tag "送信" %>
</div>

<%= link_to 'Back', questionaries_path %>

<script type="text/javascript">
  var number;
  $(function(){
    $('input').click(function(){
      if($(this).val() == number) {
        $(this).prop('checked', false);
        number = 0;
      } else {
        number = $(this).val();
      }
    });
  });
</script>
