<h1><%= @questionary.title %>の集計</h1>

<%= link_to "CSV出力", download_path(format: 'csv') %>

<table class="table table-bordered">
  <tr><th>質問</th><th>集計</th></tr>
  <% @questionary_items.each do |item| %>
    <tr>
      <td><%= item.content %></td>
      <td>
        <% results = item.aggregate %>
        <table>
          <% results.each do |key, val| %>
            <tr>
              <td><%= QuestionaryChoice.find(key).content %>:<%= val %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>
